{{input value=filterText type="text" placeholder="Filter" class="form-control"}}

<table class="table table-striped">
  <thead>
    <tr>
      <th {{action "sort" "title"}}>Title
        <span class="sorter {{if sortedOnTitle "sorted"}} {{if sortAscending "glyphicon-chevron-down" "glyphicon-chevron-up"}} glyphicon"></span>
      </th>
      <th {{action "sort" "working_title"}}>Working Title
        <span class="sorter {{if sortedOnWorkingTitle "sorted"}} {{if sortAscending "glyphicon-chevron-down" "glyphicon-chevron-up"}} glyphicon"></span>
      </th>
      <th {{action "sort" "department"}}>Department
        <span class="sorter {{if sortedOnDepartment "sorted"}} {{if sortAscending "glyphicon-chevron-down" "glyphicon-chevron-up"}} glyphicon"></span>
      </th>
      <th {{action "sort" "end"}}>End Date
        <span class="sorter {{if sortedOnEnd "sorted"}} {{if sortAscending "glyphicon-chevron-down" "glyphicon-chevron-up"}} glyphicon"></span>
      </th>
      <th {{action "sort" "location"}}>Location
        <span class="sorter {{if sortedOnLocation "sorted"}} {{if sortAscending "glyphicon-chevron-down" "glyphicon-chevron-up"}} glyphicon"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedContent as |job|}}
      <tr>
        <td>{{link-to job.title 'job' job}}</td>
        <td>{{job.working_title}}</td>
        <td>{{job.department}}</td>
        <td>{{moment-format job.end "MM/DD/YYYY"}}</td>
        <td>{{job.location}}</td>
      </tr>
      <tr>
        <td colspan="5">
          {{truncate job.summary limit="400"}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
